@charset "utf-8";
/* CSS Document */
.fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
    pointer-events: none;
    overflow-x: clip;
    clip-path: inset(0);
    transform: translateZ(0);
    opacity: 1; 
    transition: opacity 0.5s ease-in-out;
}
.fixed-bg.is-hidden {
    opacity: 0 !important; 
    transition: opacity 1s ease-in-out !important; 
    pointer-events: none; 
}
.ink-inner {
    position: absolute;
    width: 220px;
    height: 220px;
    filter: blur(22px) saturate(150%);
    mix-blend-mode: multiply;
    display: block;

    opacity: 0;
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, opacity, filter;
}
/* 左上 */
.ink1 {
    background: #cab887;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 15%;
    left: 25%;
    background:
    radial-gradient(circle,
        rgba(202, 184, 135, 0.8) 0%,
        rgba(202, 184, 135, 0.3) 40%,
        rgba(202, 184, 135, 0) 70%
    );
    animation:
    inkSpread 2.5s ease-out 0s forwards,
    float1 12.5s ease-in-out infinite 4s;
}

/* 右上 */
.ink2 {
    background: #acb9de;
    position: absolute;
    top: 35%;
    right: 25%;
    width: 200px;
    height: 200px;
    background:
    radial-gradient(circle,
        rgba(172, 185, 222, 0.8) 0%,
        rgba(172, 185, 222, 0.3) 40%,
        rgba(172, 185, 222, 0) 70%
    );
    animation:
    inkSpread 2.5s ease-out 0.5s forwards,
    float2 15s ease-in-out infinite 4s;
}

.slide {
    opacity: 0; 
    transform: translateY(30px); 
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.slide-left,
.slide-right {
    opacity: 0;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}
.slide-left {
    transform: translateX(-50px);
}
.slide-right {
    transform: translateX(50px);
}

.slide.show {
    opacity: 1;
    transform: translateY(0);
}
.slide:nth-child(1) { transition-delay: 0.2s; }
.slide:nth-child(2) { transition-delay: 0.4s; }
.slide:nth-child(3) { transition-delay: 0.6s; }

.work-item.show .slide-left,
.work-item.show .slide-right {
    opacity: 1;
    transform: translate(0, 0);
}

.top_section {
    width: 100%;
    height: 85vh;
    position: relative;
}
.top_section_language {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.split-text-animation {
    display: flex;
    font-size: 9.8vw;
    line-height: 1.1;
    font-weight: 400;
    padding-top: 10px;
    overflow: hidden;
}
.split-text-animation span {
    display: inline-block;
    transform: translateY(100%); 
    animation: reveal-antara 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.split-text-animation span:nth-child(1) { animation-delay: 0.0s; }
.split-text-animation span:nth-child(2) { animation-delay: 0.05s; }
.split-text-animation span:nth-child(3) { animation-delay: 0.10s; }
.split-text-animation span:nth-child(4) { animation-delay: 0.15s; }
.split-text-animation span:nth-child(5) { animation-delay: 0.20s; }

.W-space {
    margin-right: -0.1em;
}
.top_section h2 {
    font-size: 2.2vw;
    line-height: 1.4;
}
.contents {
    display: flex;
    border-bottom: 1px solid #000;
    margin: 65px 350px 140px 350px;
}
.contents p {
    font-size: 1.5vw;
}
.contents p:last-child {
    margin-left: auto;
}
@media(max-width:980px) {
    .phone_none {
        display: none;
    }
    .ink1 {
        width: 180px;
        height: 180px;
        top: 20%;
        left: 15%;
    }
    .ink2 {
        width: 140px;
        height: 140px;
        top: 55%;
        right: 15%;
    }
    .top_section h1 {
        font-size: 16vw;
    }
    .top_section h2 {
        font-size: 4vw;
    }
    .contents {
        margin: 65px 20px 100px 20px;
    }
    .contents p {
        font-size: 4vw;
    }
    .contents p:last-child {
        margin-left: 10px;
    }
}
.works_section {
    margin: 0 60px;
}
.works_wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.works_wrapper a {
    display: flex;
    color: #000;
    text-decoration: none;
    margin-bottom: 150px;
    padding: 0 60px;
    opacity: 1;
}
.works_wrapper a:last-child {
    margin-bottom: 0;
}
.works_flex_left {
    width: 25%;
    overflow: hidden;
    position: relative;
}
.works_flex_right {
    width: 75%;
    overflow: hidden;
    position: relative;
}
.works_flex_left img,
.works_flex_left video {
    width: 220px;
    height: 257px;
    object-fit: cover;
}
.works_flex_right img,
.works_flex_right video {
    width: 700px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.works_item {
    display: block;
}
.work-item img {
    transition: transform 0.6s ease;
}
.work-item:hover img {
    transform: translate(0, 0) scale(1.05) !important;
}
.works_info {
    margin-bottom: 40px;
}
.works_info span {
    font-size: 1vw;
    line-height: 1.2;
}
.works_info h3 {
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
}
.works_info h4 {
    font-size: 1.3vw;
    line-height: 1.8;
    font-weight: 500;
    text-decoration: underline;
}
.works_info p {
    text-decoration: underline;
    font-size: 1.1vw;
    line-height: 1.2;
}
@media(max-width:980px) {
    .works_section {
        margin: 0 24px;
    }
    .works_wrapper a {
        display: block;
        margin-bottom: 60px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #000;
    }
    .works_flex_left {
        width: 100%;
    }
    .works_flex_right {
        width: 100%;
    }
    .works_flex_right img,
    .works_flex_right video {
        width: 100%;
        height: 200px;
    }
    .works_info {
        margin-bottom: 20px;
    }
    .works_info span {
        font-size: 2.5vw;
    }
    .works_info h3 {
        font-size: 3.6vw;
    }
    .info_flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info_flex h4,
    .info_flex p {
        font-size: 3.4vw;
    }
    .info_flex h4 {
        margin-right: 10px;
    }
}
/* ===== animation ===== */
@keyframes inkSpread {
    0% {
        transform: scale(0.15);
        opacity: 0;
        filter: blur(26px) saturate(150%);
    }

    25% {
        opacity: 0.25;
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 1;
        filter: blur(18px) saturate(145%);
    }
}
@keyframes float1 {
    0% { transform: translate(0, 0) scale(2); }
    33% { transform: translate(-60px, -50px) scale(2); } /* translate(60px)を(-60px)に反転 */
    66% { transform: translate(-120px, 60px) scale(2); } /* translate(120px)を(-120px)に反転 */
    100% { transform: translate(0, 0) scale(2); }
}
@keyframes float2 {
    0% { transform: translate(0, 0) scale(2); }
    33% { transform: translate(60px, -50px) scale(2); }
    66% { transform: translate(120px, 60px) scale(2); }
    100% { transform: translate(0, 0) scale(2); }
}
@keyframes reveal-antara {
    0% {
        transform: translateY(110%) rotate(5deg); 
    }
    100% {
        transform: translateY(0) rotate(0deg); 
    }
}